@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Oswald:wght@300&display=swap");

$phone-info: "only screen and (max-width: 400px)";
$desktop-info: "only screen and (min-width: 900px)";
$primary: #00a9a5;
$dark: #0a111f;
$light: #f5f5f5;

$title-font: "Montserrat", sans-serif;
$body-font: "Oswald", monospace;
