@import "./constants";

.social-wrapper {
	width: 100vw;
	display: flex;
	justify-content: center;
}

.side-line {
	flex: 1;
	margin: 23px 20px;

	& > div {
		background-color: $primary;
		height: 2px;
		width: 100%;
		border-radius: 2px;
	}
}

.social-links,
.email-link {
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		text-decoration: none;
		margin-bottom: 5px;

		&:hover {
			color: $primary !important;
		}
	}

	.social {
		margin: 11px;

		@media #{$phone-info} {
			margin: 7px;
		}

		@media #{$desktop-info} {
			margin: 15px;
		}

		&:hover {
			fill: $primary !important;
		}
	}
}

.container {
	padding-left: 30px;
	padding-right: 30px;

	& > .heading-box {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: calc(100% - 60px);
		max-width: 900px;

		@media #{$desktop-info} {
			margin: 30px 150px;
			width: calc(100% - 300px);
		}
	}

	@media #{$desktop-info} {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.heading {
	width: 100%;
	font-size: 40px;
	font-family: $title-font;
	margin: 10px 0px;
	color: $primary;

	@media #{$phone-info} {
		font-size: 32px;
	}

	@media #{$desktop-info} {
		font-size: 48px;
	}
}

.sub-heading {
	margin: 5px 0px;
	font-size: 20px;

	@media #{$phone-info} {
		font-size: 16px;
	}

	@media #{$desktop-info} {
		font-size: 24px;
	}
}
