@import "./constants";

.top-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	padding: 20px;
	display: flex;
	align-items: center;
	z-index: 2;
	-webkit-transition: color cubic-bezier(0.86, 0, 0.07, 1) 500ms;
	transition: color cubic-bezier(0.86, 0, 0.07, 1) 500ms;
	-webkit-transition: background cubic-bezier(0.86, 0, 0.07, 1) 500ms;
	transition: background cubic-bezier(0.86, 0, 0.07, 1) 500ms;

	@media #{$desktop-info} {
		padding: 30px;
	}
}

.mid-line {
	flex: 1;
	height: 100%;

	& > div {
		background-color: $primary;
		height: 2px;
		margin: 19px 25px;
	}
}

.logo {
	margin-left: 5px;
}

.dark-mode-toggle {
	cursor: pointer;
	margin-right: 5px;
	height: 30px;
	width: 30px;

	&:hover {
		fill: $primary !important;
	}
}

.social {
	margin-top: 15px;
	margin-bottom: 15px;
	cursor: pointer;

	&:hover {
		fill: $primary !important;
	}
}

.bottom-side-line,
.top-side-line {
	flex: 1;
	margin: 0px 19px;

	& > div {
		background-color: $primary;
		width: 2px;
		height: 100%;
	}
}

.top-side-line {
	margin-top: 90px;
	margin-bottom: 15px;
}

.bottom-side-line {
	margin-top: 15px;
	flex: unset;
	height: 135px;
}

.left-nav,
.right-nav {
	position: fixed;
	top: 0;
	bottom: 0;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 40px;
	display: none;

	a {
		text-decoration: none;
	}
}

.left-nav {
	left: 0;
	padding-left: 20px;

	@media #{$desktop-info} {
		display: flex;
		padding-left: 30px;
	}
}

.right-nav {
	right: 0;
	padding-right: 20px;

	a {
		writing-mode: vertical-lr;
		margin: 15px 5px;
		margin-right: 0px;

		&:hover {
			color: $primary !important;
		}
	}

	@media #{$desktop-info} {
		display: flex;
		padding-right: 30px;
	}
}
