@import "./constants";

body {
	font-family: $body-font;
	-webkit-transition: color cubic-bezier(0.86, 0, 0.07, 1) 500ms;
	transition: color cubic-bezier(0.86, 0, 0.07, 1) 500ms;
	-webkit-transition: background cubic-bezier(0.86, 0, 0.07, 1) 500ms;
	transition: background cubic-bezier(0.86, 0, 0.07, 1) 500ms;
}

#typed {
	margin: 5px 0px;
}

#typed,
.typed-cursor {
	font-size: 36px;

	@media #{$phone-info} {
		font-size: 24px;
	}

	@media #{$desktop-info} {
		font-size: 48px;
	}
}

.full-page {
	& > div {
		-webkit-transition: opacity cubic-bezier(0.86, 0, 0.07, 1) 800ms;
		transition: opacity cubic-bezier(0.86, 0, 0.07, 1) 800ms;
	}

	&.invisible > div {
		opacity: 0;
	}
}

.container {
	width: 100vw;
	height: calc(100vh - 56px - 50px);
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.app-button {
	padding: 15px 30px;
	font-family: $title-font;
	text-transform: uppercase;
	background: none;
	border: 2px solid $primary;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
	font-size: 12px;
	text-decoration: none;

	&:hover {
		background-color: $primary;
	}

	@media #{$desktop-info} {
		padding: 20px 40px;
		font-size: 16px;
	}
}
