.full-page-wrapper {
	height: 100vh;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
}

.full-page.invisible > div {
	opacity: 0;
}

.full-page {
	height: 100vh;
	scroll-snap-align: center;
	scroll-snap-stop: always;
	display: flex;
	justify-content: center;
	align-items: center;
}

.full-page > div {
	text-align: center;
	opacity: 1;
	-webkit-transition: cubic-bezier(0.86, 0, 0.07, 1) 800ms;
	transition: cubic-bezier(0.86, 0, 0.07, 1) 800ms;
}

.full-page h1 {
	font-size: 72px;
}

.full-page h3 {
	font-size: 36px;
}

/** section colors */
.red {
	background: #f44336;
}
.orange {
	background: #ff9800;
}
.yellow {
	background: #ffd600;
}
.green {
	background: #4caf50;
}
.blue {
	background: #2196f3;
}
.indigo {
	background: #3f51b5;
}
.violet {
	background: #673ab7;
}
