@import "./constants";

.container {
	padding-left: 30px;
	padding-right: 30px;

	& > div {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media #{$desktop-info} {
			margin: 30px 150px;
		}
	}

	@media #{$desktop-info} {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.heading-box {
	width: 100%;
}

.heading {
	width: 100%;
	font-size: 40px;
	font-family: $title-font;
	margin: 10px 0px;
	color: $primary;

	@media #{$phone-info} {
		font-size: 32px;
	}

	@media #{$desktop-info} {
		font-size: 48px;
	}
}

.sub-heading {
	width: 100%;
	margin: 5px 0px;
	font-size: 20px;

	@media #{$phone-info} {
		font-size: 16px;
	}

	@media #{$desktop-info} {
		font-size: 24px;
	}
}

.toolbox {
	width: 100%;
	max-width: 900px;
	height: 350px;
	margin-top: 25px;
	margin-left: -10px;
	margin-right: -10px;

	img {
		height: 5vh;
		min-height: 35px;
		max-height: 70px;
		margin: 10px;
		opacity: 0;
		transition: opacity ease-in-out 300ms;
		-webkit-transition: opacity ease-in-out 300ms;

		@media #{$desktop-info} {
			margin: 15px;
			height: 7vh;
		}
	}

	@media #{$desktop-info} {
		margin-top: 40px;
		margin-left: -15px;
		margin-right: -15px;
		height: 50vh;
	}
}
