.socialWrapper {
	width: 100vw;
	display: flex;
	justify-content: center;
}

.sideLine {
	flex: 1;
	margin: 23px 20px;
}

.sideLine > div {
	background-color: #00a9a5;
	height: 2px;
	width: 100%;
	border-radius: 2px;
}

.socialLinks,
.emailLink {
	display: flex;
	justify-content: center;
	align-items: center;
}

.emailLink a {
	text-decoration: none;
	margin-bottom: 5px;
}

.social {
	margin: 11px;
}

.emailLink a:hover {
	color: #00a9a5 !important;
}

.social:hover {
	fill: #00a9a5 !important;
}

.getInTouch {
	width: calc(100% - 60px);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	text-align: center;
}

.getInTouch h2 {
	font-size: 40px;
	font-family: "Montserrat";
	color: #00a9a5;
}

.getInTouch h4 {
	font-size: 20px;
	line-height: 32px;
	margin: 10px 0px;
}

@media only screen and (max-width: 400px) {
	.getInTouch h4 {
		font-size: 16px;
		line-height: 25px;
	}

	.getInTouch h2 {
		font-size: 32px;
	}

	.getInTouch {
		width: calc(100% - 40px);
		padding: 20px;
	}

	.social {
		margin: 7px;
	}
}

@media only screen and (min-width: 800px) {
	.getInTouch h4 {
		margin: 10px 20vw;
		font-size: 24px;
		line-height: 40px;
	}

	.getInTouch h2 {
		font-size: 48px;
	}

	.getInTouch {
		width: calc(100% - 80px);
		padding: 40px;
	}

	.social {
		margin: 15px;
	}
}
