body {
	font-family: "Oswald";
	-webkit-transition: color cubic-bezier(0.86, 0, 0.07, 1) 500ms;
	transition: color cubic-bezier(0.86, 0, 0.07, 1) 500ms;
	-webkit-transition: background cubic-bezier(0.86, 0, 0.07, 1) 500ms;
	transition: background cubic-bezier(0.86, 0, 0.07, 1) 500ms;
}

#typed {
	font-size: 36px;
	margin: 5px 0px;
}

.typed-cursor {
	font-size: 36px;
}

.full-page > div {
	-webkit-transition: opacity cubic-bezier(0.86, 0, 0.07, 1) 800ms;
	transition: opacity cubic-bezier(0.86, 0, 0.07, 1) 800ms;
}

.full-page.invisible > div {
	opacity: 0;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media only screen and (min-width: 800px) {
	#typed {
		font-size: 48px;
	}

	.typed-cursor {
		font-size: 48px;
	}
}
